<div class="container">
    <div routerLink="/admin" class="row margin-top-20 margin-bottom-20 margin-left-50">
        <mat-icon mat-list-icon>home</mat-icon>Inicio
    </div>
    <div routerLink="/admin/profile" class="row margin-top-20 margin-bottom-20 margin-left-50">
        <mat-icon mat-list-icon>account_circle</mat-icon>Perfil
    </div>
    <div routerLink="/admin/profile" class="row margin-top-20 margin-bottom-20 margin-left-50">
        <mat-icon mat-list-icon>leaderboard</mat-icon>Estadisticas
    </div>
    <div routerLink="/admin/profile" class="row margin-top-20 margin-bottom-20 margin-left-50">
        <mat-icon mat-list-icon>add_circle_outline</mat-icon>Amigos
    </div>
    <div routerLink="/admin/profile" class="row margin-top-20 margin-bottom-20 margin-left-50">
        <mat-icon mat-list-icon>local_police</mat-icon>Equipos
    </div>
    <div routerLink="/admin/profile" class="row margin-top-20 margin-bottom-20 margin-left-50">
        <mat-icon mat-list-icon>logout</mat-icon>Salir
    </div>
</div>