/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.text-center{
    text-align: center;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-left-20{
    margin-left: 20px;
}

.full-width{
    width: 100%;
}

/*cambio el color del snackbar*/ 
.blue-snackbar {
    background: #2196F3;
}